*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

#display {
  width: 100%;
  padding: 0.2em 0.1em;
  background-color: rgb(212, 212, 212);
  font-size: 6vw;
}

@media (min-width: 700px) {
  #display {
    font-size: 50px;
  }
}

.container {
  width: 70%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .container {
    width: 50%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 5vw;
  padding: 0.4em 1em;
  margin: 0.2em 0.2em;
}

@media (min-width: 700px) {
  button {
    font-size: 40px;
  }
}

#equal {
  padding: 0.4em 2em;
}

#clear {
  width: 100%;
  margin: 10px auto;
}
